.title {
  text-align: center;
}
h1 span {
  color: lightgray;
}

table {
  font-family: Roboto;
  border-collapse: collapse;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
th {
  text-transform: uppercase;
}
td,
th {
  border: 1px solid none;
  text-align: left;
  padding: 20px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

h2 {
  text-align: left;
  font-family: sans-serif;
  font-weight: bolder;
}

h1 {
  font-family: sans-serif;
  font-weight: bolder;
}

.filterWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  margin-left: 400px;
}
.search input {
  border: none;
  border-bottom: 2px solid black;
  font-size: 20px;
}
.search input:focus {
  outline: none;
}

.filters input {
  height: 18px;
  width: 18px;
  margin: auto;
  margin-left: 10px;
}
.filters label {
  display: inline;
  font-family: Roboto;
  text-transform: capitalize;
  font-size: 20px;
  margin-left: 4px;
}
.page {
  text-align: center;
  margin-top: 30px;
  display: flex;
}
.page button {
  border: none;
  font-size: xx-large;
  margin: auto;
}
.rowcount {
  text-align: center;
}

.rowcount input {
  border: none;
  border-bottom: 2px solid black;
}

.rowcount input :focus {
  outline: none;
}

@media only screen and (max-width: 950px) {
  body{
    padding-left: 10px;
    padding-right: 10px;
  }
  .search{
    margin-left: 200px;
  }
  .filterWrapper{
    display: flex;
    zoom: 0.8;
  }
}

@media only screen and (max-width: 600px) {
  body{
    padding-left: 10px;
    padding-right: 10px;
  }
  table{
    zoom: 0.7;
  }
  .search{
    margin-left: 0px;
    margin-top: 50px;
  }
  .filterWrapper{
    display: block;
    zoom: 0.7;
  }
}
