table {
  font-family: Roboto;
  border-collapse: collapse;
  width: 75%;
}
th {
  text-transform: uppercase;
}
td,
th {
  border: 1px solid none;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
h1,
h2 {
  font-family: Roboto;
}
.filterWrapper {
  display: flex;
  align-items: center;
}
.search {
  margin-left: 400px;
}
.search input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 20px;
}
.search input:focus {
  outline: none;
}

.filters input {
  height: 18px;
  width: 18px;
  margin: auto;
  top: 0;
  left: 0;
  margin-left: 10px;
}
.filters label {
  display: inline;
  font-family: Roboto;
  text-transform: capitalize;
  font-size: 20px;
  margin-left: 4px;
}
